<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionTrabajos1.Properties.Settings.AdministracionConnectionString"
            connectionString="Data Source=LAPTOP-RSUK8NRU;Initial Catalog=Administracion;User ID=sa;Password=Broca1989"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>